# NOTE:
# Only entries directly pertaining to the project should be added here.
# Anything specific to your development process, environemnt or IDE should be ignored locally
# i.e from "$GIT_DIR/info/exclude", "~/.config/git/ignore" or "$XDG_CONFIG_HOME/git/ignore", etc.
# It helps to keep things simple, thanks.

# Python module cache
__pycache__/

# Distribution/Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
